@import "../main.scss";

#about {
  min-height: 80vh;
}

.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    letter-spacing: 2px;
    margin-bottom: 8px;
  }
}

.about__text {
  margin-top: 30px;
  width: 500px;

  p {
    line-height: 1.4;
    font-weight: 400;
    margin: 14px;
    font-size: 20px;
  }
}

.about__technologies {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 18px;

  ul {
    list-style: none;
    text-decoration: none;
    margin-left: 14px;

    li {
      margin-bottom: 8px;
    }
  }
}

.technologies_list {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(3, minmax(140px, 200px));
}

@media (max-width: 500px) {
  .about__text {
    width: 90%;
    p {
      font-size: 16px;
    }
  }
  .technologies_list {
    grid-template-columns: repeat(3, minmax(120px, 160px));
  }
}
