.projects__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects__title {
  margin-bottom: 50px;
  h2 {
    letter-spacing: 2px;
    margin-bottom: 8px;
  }
}

.project__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-width: 500px;
  border-top: 2px solid #e8eeff;
  margin-bottom: 40px;

  p {
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
    width: 90%;
  }

  h3 {
    font-size: 26px;
    margin-top: 20px;
  }
}

.firs_project {
  border: none;
}
.project__technologies {
  display: flex;
  font-size: 16px;

  ul {
    display: flex;
    flex-direction: row;
    gap: 26px;
    list-style: none;
    text-decoration: none;
  }
}

.project__links {
  display: flex;
  gap: 10px;

  a {
    text-decoration: none;
    color: inherit;
  }
}

@media (max-width: 1150px) {
}

@media (max-width: 1060px) {
  .project__info {
    p {
      font-size: 16px;
    }
  }
}
@media (max-width: 500px) {
  .project__card {
    width: 95%;
  }
  .project__info {
    h3 {
      font-size: 22px;
    }
  }

  .project__technologies {
    font-size: 14px;
  }

  .project__img {
    img {
      height: 250px;
    }
  }
}
