---
import "../styles/alpha.scss"
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';

---
<Layout title="Javier Martínez - Portfolio">
	<main>
	<NavBar></NavBar>
	<Hero/>
	<About/>
	<Experience/>
	<Projects/>
    <Contact/>
	</main>
</Layout>


