---
import "../styles/components/about.scss"
import { Icon } from "astro-icon";

---

<section id="about" class="section_">
    <div class="about__container">
        <div class="about__title">
            <h2 >Sobre mí</h2>
            <div class="divider"></div>
        </div>
        <div class="about__text">
            <p>Hola! Mi nombre es Javi, <strong> graduado en Ingeniería Informática</strong> en la Universidad de Las Palmas. 
            Me encanta crear a través de la programación, da igual la herramienta.</p>
            <p>Soy una persona
                <strong>
                    autodidacta y comunicativa.
                </strong>
               Aficionado a la historia, la mitología , la literatura fantástica y adicto al café.</p>
               <p>  Mi meta en la vida es ser mejor que ayer.
               </p>

            <div class="about__technologies">
                <p><strong>Tecnologías</strong> con las que he estado trabajando:</p>
                <div class="technologies_list">
                        <ul>
                            <li><Icon name="vscode-icons:file-type-html" /> </li>
                            <li><Icon name="vscode-icons:file-type-css" /> </li>
                            <li><Icon name="logos:javascript" /></li>
                        </ul>
                        <ul>
                            <li><Icon name="logos:react" /> </li>
                            <li><Icon name="vscode-icons:file-type-typescript" /> </li>
                            <li><Icon name="vscode-icons:file-type-astro" /></li>
                        </ul>
                        <ul>
                            <li><Icon name="logos:php" /> </li>
                            <li><Icon name="teenyicons:nextjs-outline" /> </li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</section>