---
import "../styles/components/contact.scss"
---

<section id="contacto" class="section_">
    <div class="contact__container">
        <div class="contact__title"> 
            <h2>Contacto</h2>
            <div class="divider"></div>    
        </div>
        <p>Estoy interesado en cualquier oportunidad laboral. Si tienes alguna duda o quieres hablar de otro asunto, no dudes en saludar. Me pondré en contacto lo antes posible.</p>
        <a href="mailto:javimmdev@gmail.com" class="contact__link">Di hola!</a>
    </div>

</section>