---
import "../styles/components/experience.scss";
import { Icon } from "astro-icon";

---
<section id="experiencia" class="section_">
    <div class="exp__container">
        <div class="exp__title">
            <h2>Experiencia</h2>
            <div class="divider">
            </div>
        </div>
        <div class="exp__card">
            <div class="exp__date">
                <p>Feb 2022 - Jul 2022</p>
            </div>
            <div class="exp__info">
                <h3> Desarrollador <a href="https://etnonautas.com/"> @ Etnonautas </a> </h3>
                <p>Trabajé desarrollando una página web para el intercambio y la venta de semillas a agricultores en la isla de Gran Canaria.</p>
                <div class="exp__icons">
                <Icon name="vscode-icons:file-type-html" />     
                <Icon name="vscode-icons:file-type-css" />     
                <Icon name="vscode-icons:file-type-js" />     
                <Icon name="cib:symfony" />     
                </div>
            </div>
        </div>
    </div>
        
</section>