---
import Button from "./Button.astro";
import { Icon } from 'astro-icon';

---


<section id="home">
    <div class="hero__div">
      <div class="hero__div-center">
        <h1>Javier Martínez Montesdeoca</h1>
        <h2>Ingeniero Software</h2>
        <div class="hero__div-bottom">
          <div class="hero__div-icons">
             <a href="https://github.com/Roloxd" title="Icono de github"><Icon name="mdi:github" /></a>
             <a href="" title="Icono de linkedin"><Icon name="mdi:linkedin" /></a>
          </div>
            <Button text="Descargar CV" ></Button>
        </div>
      </div>
      <img src="./Programming-amico.png" alt="dasd">
    </div>
  </section>

 
