---
import "../styles/components/projects.scss";
import { Icon } from "astro-icon";

---

<section id="proyectos" class="section_">
    <div class="projects__container">
        <div class="projects__title">
            <h2>Proyectos</h2>
            <div class="divider"></div>
        </div>
        <div class="project__card">
            <div class="project__img overlap">
                <a href="https://javimmchatapp.netlify.app/">
                    <img  src="/projects-images/chatproject.png" alt="Imagen del proyecto chat">
                </a>
                </div>
            <div class="project__info">
                <h3>Chat App</h3>
                <p>Chat de mensajes instantáneos. Haz el login mediante tu cuenta de gmail. Busca usuarios mediante el correo y chatea con ellos. Podrás ver su estado online y la hora de los mensajes.</p>
                <div class="project__technologies">
                    <ul>
                        <li>React</li>
                        <li>Firebase</li>
                        <li>Javascript</li>
                    </ul>
                </div>
                <div class="project__links">
                   <a href="https://javimmchatapp.netlify.app/">
                       <Icon name="mdi:external-link" class="project__link"/>
                    </a> 
                    <a href="https://github.com/javi-mm/ChatApp-React">
                        <Icon name="mdi:github" class="project__link"/>
                    </a>
                </div>
            </div>
        </div>
       
    </div>

</section>